aiocache==0.11.1
aiodataloader==0.2.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.4.0
ariadne==0.14.0
asgiref==3.4.1
async-timeout==4.0.1
asyncpg==0.25.0
attrs==21.2.0
bcrypt==3.2.0
buildpg==0.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
edtf==4.0.1
elasticsearch==7.16.0
fastapi==0.70.0
fastapi-jwt-auth==0.5.0
flake8==4.0.1
frozenlist==1.2.0
graphql-core==3.1.6
gunicorn==20.1.0
h11==0.12.0
idna==3.3
mccabe==0.6.1
msgpack==1.0.3
multidict==5.2.0
passlib==1.7.4
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.8.2
pyflakes==2.4.0
PyJWT==1.7.1
pyparsing==3.0.6
python-dateutil==2.8.2
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing-extensions==4.0.1
ujson==4.3.0
urllib3==1.26.7
uvicorn==0.16.0
yarl==1.7.2
